<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.spring.core.beans.MyService">
		<constructor-arg value="Hello Spring 1"></constructor-arg>
		<constructor-arg value="Hello Spring 2"></constructor-arg>
	</bean>
	
	<!-- Static Factory Method -->
	<bean id="name" class="com.spring.core.beans.ApplicationNameFactory" factory-method="getName" ></bean>
	<bean id="name2" class="com.spring.core.beans.ApplicationNameFactory" factory-method="getName2" ></bean>
	
	<!-- Instance Factory Method -->
	<bean id="propFactory" class="com.spring.core.beans.PropertiesFactory"></bean>
	<bean factory-bean="propFactory" factory-method="names"></bean>
	
	<bean id="factoryBean" class="com.spring.core.beans.ServiceFactory"></bean>
	<bean id="service" factory-bean="factoryBean" factory-method="getService"></bean>

</beans>